<h1>Recording</h1>
<%= render_player(@story.id, @recording.id) %>
<%= @story.name %>
<%= @recording.source %>
<%= link_to @recording.url, @recording.url %>
<hr>
<%= link_to 'Back', story_path(@story) %>

