<div class="row">

<h1>Admin</h1>
<p>Note: window.hash is available via JS</p>

<div class="panel">
  <h2>Accounts</h2>
    <% @hash.each do |account| %>
      <div class="row text-left">
        <div class="large-4 medium-4 column">
          <h4>Account id: <%= account[:id] %></h4>
          <p>uid: <%= account[:uid] %></p>
          <p>created_at: <%= account[:created_at] %></p>

          <% city = account[:fromCity].to_s %>
          <% country = account[:fromCountry].to_s %>
          <% state = account[:fromState].to_s %>
          <% location = '' %>
          <% location << city + ', ' + state %>
          <% if country != '' %>
          <% location << '|' + location + ', ' + country %>
          <% end %>
          <% location = url_encode(location) %>
          <%= city + ', ' + state + ', ' + country %><br>
          <img src="http://maps.google.com/maps/api/staticmap?center=35.281124,-102.574262&zoom=3&markers=size:small|<%= location %>&size=300x250&sensor=TRUE_OR_FALSE">
        </div>
        <div class="large-8 medium-8 column">

            <% account[:stories].each do |story| %>
              <div class="row was_checked-<%= story[:was_checked] %>">
                <div class="large-4 medium-4 column">
                  <h4>Story id: <%= story[:id] %></h4>
                </div>
                <div class="large-8 medium-8 column">
                  <h5>Recordings</h5>
                  <% story[:recordings].each do |recording| %>
                    <p>recording_id: <%= recording[:id] %></p>
                    <p>Length: <%= recording[:length] %> seconds</p>
                    <p>
                      <audio controls>
                        <source src="<%= recording[:url] %>" type="audio/mpeg">
                      </audio>
                    </p>
                  <% end %>
                </div>
              </div>
            <% end %>
        </div>
      </div>
      <hr>
    <% end %>
</div>

<div class="row">

  <h3>Options</h3>
  <%= link_to "View all recordings", recordings_path, :class=>"button secondary"%>
  <%= link_to "View all stories", stories_path, :class=>"button secondary"%>
</div>

<script>
  window.hash = <%= raw(@hash.to_json) %>;
  console.log(hash);
</script>
