<div class="row">

<h1>Admin</h1>
<p>Note: window.hash is available via JS</p>

<div class="panel">
  <h2>Accounts</h2>
    <% @hash.first.each do |hash| %>
      <div class="row">
        <h3>Account id: <%= hash.accounts.id %></h3>
        <% hash.stories.each do |story| %>
          <% story.story.each do |story| %>
            <h4>Story id: <%= story.id %></h4>
            <p><b>Accepted: <%= story.was_checked %></b></p>
          <% end %>

          <% story.recordings.each do |recording| %>
            <% call = TwilioCall.find(recording.twilio_id) %>
            <p>Caller id: <%= call.sid %></p>
            <p>Caller Zip code: <%= call.fromZip %></p>
            <p>Recording id: <%= recording.id %></p>
            <p>Length: <%= recording.length %> seconds</p>
            <p>Url: <a href="<%= recording.url %>.mp3"><%= recording.url %>.mp3</a></p>
          <% end %>
        <% end %>
      </div>
    <% end %>
</div>

<div class="row">

  <h3>Options</h3>
  <%= link_to "View all recordings", recordings_path, :class=>"button secondary"%>
  <%= link_to "View all stories", stories_path, :class=>"button secondary"%>
</div>

<script>
  window.hash = <%= raw(@hash.to_json) %>;
  console.log(hash);
</script>
