<% if @stories.any? %>
    <% @stories.each do |story| %>
      <div class="story-<%= story.id %> story-item">
        <div class="story-links">
          <%= link_to 'Show', story_path(story) %>
          <%= link_to 'Edit', edit_story_path(story) %>
        </div>
        <% if story.name %><h2><%= link_to story.name, story %></h2><% end %>
        <% if story.location %><h3><%= story.location %></h3><%end%>
        <p>
          <% if story.age %><%= story.age %>, <% end %><% if story.gender %><%= story.gender %><% end %>
        </p>
        <% if story.breakup_role %> Role: <%= story.breakup_role %><br> <% end %>
        <% if story.breakup_type %> Type: <%= story.breakup_type %> <% end %>
      </div>
    <% end %>
  </ul>
<% end %>
