<h2>Your stories</h2>

<% if @stories.any? %>
  <ul class="large-block-grid-5 medium-block-grid-2 small-block-grid-1">
    <% @stories.each do |story| %>
      <li class="story-<%= story.id %>">
        <div class="panel">
          <% if story.name %><h2><%= link_to story.name, story %></h2><% end %>
          <% if story.location %><h3><%= story.location %></h3><%end%>
          <p>
            <% if story.age %><%= story.age %>, <% end %><% if story.gender %><%= story.gender %><% end %>
          </p>
          <% if story.breakup_role %> Role: <%= story.breakup_role %><br> <% end %>
          <% if story.breakup_type %> Type: <%= story.breakup_type %> <% end %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
