<div class="wrapper">
  <div class="row">
    <div class="small-12 large-12 columns">
      <div class="row sticky">
        <h1>Submit Your Story</h1>
      </div>
      <div class="personal-code">
        <ul class="large-block-grid-3 medium-block-grid-3">
          <li>
            <%= image_tag 'phonecall.png' %>
            <h5 class="text-center">1. Call-in your story</h5>
          </li>
          <li>
            <%= image_tag 'phonesms.png' %>
            <h5 class="text-center">2. SMS your details</h5>
          </li>
          <li>
            <%= image_tag 'phonelist.png' %>
            <h5 class="text-center">3. View online</h5>
          </li>
        </ul>
        <%= render 'stories/steps' %>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/sticky_item' %>
