<% story = @story %>

<div class="row">
  <div class="large-4 medium-6 column">
    <% if story.name %><h3><%= story.name %></h3><% end %>
    <% if story.location %><%= story.location %><%end%>
    <p>
      <% if story.age %><%= story.age %>, <% end %><% if story.gender %><%= story.gender %><% end %>
    </p>
    <% if story.breakup_role %> Role: <%= story.breakup_role %><br> <% end %>
    <% if story.breakup_type %> Type: <%= story.breakup_type %> <% end %>
    <% if current_user.id == story.user_id %>
    <%  current_user = { id: nil } %>
    <% end %>
    <% if current_user.id == story.user_id %>
      <%= link_to 'Edit Story', edit_story_path(story), :class=>'button large-12 medium-12' %>
    <% end %>
  </div>
  <div class="large-8 medium-6 column">
    <h3>Recordings</h3>
    <% if !@recordings.nil? %>
      <ul>
      <% i = 0 %>
        <% @recordings.each do |recording| %>
          <% if @recordings.count > 1 %>
            <li>
            <% if i == 0 %>
              <%= render_player(story.id, recording.id) %>
            <% else %>
              <%= link_to story_recording_path(@story, recording) do %>
              Recording <%= recording.id %>
              <% end %>
            <% end %>
            </li>
          <% else %>
            <%= render_player(story.id, recording.id) %>
          <% end %>
          <% i = i + 1 %>
        <% end %>
      </ul>
    <% end %>
    <% if current_user.id == story.user_id %>
      <% if !@recordings.nil? %>
        <%= link_to 'Add Recording', new_story_recording_path(@story), :class => 'success button large large-6 medium-6 column' %>
        <% if @story.recordings.any? %><%= link_to 'Edit Recordings', story_recordings_path(@story), :class => 'secondary button large large-6 medium-6 column' %><% end %>
      <% else %>
        <%= link_to 'Add Recording', new_story_recording_path(@story), :class => 'success button large large-12 medium-12' %>
      <% end %>
    <% end %>
  </div>
</div>

<hr>

<%= link_to 'Back', :back, :class=>'button secondary' %>
