<% story = @story %>

<% if story.name %><h2><%= story.name %></h2><% end %>
<% if story.location %><h3><%= story.location %></h3><%end%>
<p>
  <% if story.age %><%= story.age %>, <% end %><% if story.gender %><%= story.gender %><% end %>
</p>
<% if story.breakup_role %> Role: <%= story.breakup_role %><br> <% end %>
<% if story.breakup_type %> Type: <%= story.breakup_type %> <% end %>

<% if !@recordings.nil? %>
  <ul>
    <% @recordings.each do |recording| %>
      <li>
        <%= link_to story_recording_path(@story, recording) do %>
        Recording <%= recording.id %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Edit Story', edit_story_path(story) %>

<hr>

<%= link_to 'Back', :back %> | <%= link_to 'Add Recording', new_story_recording_path(@story) %>
