<h1>Textthread#show</h1>
<p>Find me in app/views/textthread/show.html.erb</p>

User_id: <%= @thread.user_id %><br>
Story_id: <%= @thread.story_id %><br>
State: <%= @thread.state %><br>
Created_at: <%= @thread.created_at %><br>
Updated_at: <%= @thread.updated_at %><br>
Last_question: <%= @thread.last_question %><br>
Exchange_count: <%= @thread.exchange_count %><br>
